/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

 @media print {
  body { background-color: #00ff00 !important; }
  h1, h2, h3, p { font-family: "Comic Sans MS", cursive, sans-serif !important; }
	#pdf_link { display: none; }
	#navigation { display: none !important; }
	#importModal { display: none; }
	h1, h2, h3, p { color: #ff00f0 !important; }
	.pdf_button { display: none !important;}
}

@media (max-width: 979px) {
	#pdf_link { display: none; }
	#navigation { display: none !important; }
	#importModal { display: none !important; }
	.pdf_button { display: none !important;}
}