<div class="modal fade no-pdf" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Import Data into this Report</h4>
            </div>
            <div class="modal-body">
                <h3>Import Data</h3>
                <%= form_tag line_items_path, multipart: true do %>
                    <%= file_field_tag :file %>
                    <%= hidden_field_tag 'report', @report.id %>
                    <%= submit_tag "Import", class: "btn btn-primary" %>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>